body{
    color: white;
    background-color: black;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

.sec{
    text-transform: uppercase;
    font-style: italic;
    color: green;
    text-align: center;
    text-decoration: none;
}

h2{
    text-align: center;
    text-decoration: underline;
}

p{
    text-align: center;
}